* {
  margin: 0 auto;
}

#container {
  height: 700px;
  width: 800px;
  border: 1px solid black;
}

#header {
  background-image: url('images/camouflage.png');
}

.title {
  text-align: center;
  border: 1px solid black;
  font-weight: bolder;
  color: white;
  margin-bottom: 0;
  padding: 10px 0;
}

#gameboard {
  height: 525px;
  background-color: #2F7039;
  border: 1px solid black;
  position: relative;
}
#winnerstatus{
  width: 100%;
  position: absolute;
  top: 200px;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  color: yellow;
}
#display {
background-color: #DBDBDB;
height: 91px;
}

#remain {
  font-weight: bold;
  height: 20px;
  width: 150px;
  text-align: left;
  margin: 5px 5px 5px 20px;
}

#player {
  height: 20px;
  width: 150px;
  text-align: left;
  margin: 5px 5px 5px 20px;
}
#comp {
  height: 20px;
  width: 150px;
  text-align: left;
  margin: 5px 5px 5px 20px;
}
button{
  background-color: #ffffff;
}
#btnshf {
  height: 37px;
  width: 160px;
  margin: 24px 25px 0px -31px;
}
#btnnxt {
  height: 37px;
  width: 160px;
}
.card{
  height: 135px;
  width: 100px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}
#compcarddown {
  border-color: blue;
  margin: 15px 0 0 330px;
  background: url('images/cards/back.png') no-repeat center;
  background-size: cover;
}
#compcardup {
  border-color: red;
  margin: -38px 0 0 450px;
  float: left;
  background-size: cover;
  background-size: 93%;
  background-position: center;
  background-repeat: no-repeat;
}
#compwarzone {
  text-align: center;
  margin: -63px 0 0 280px;
  position: relative;
}
.tiecard{
  display: inline-block;
  border-color: red;
  position: absolute;
  background: url('images/cards/back.png') no-repeat center;
  background-size: cover;
}
#comptiecard2{
  right: 120px;
}
#comptiecard3{
  right: 80px;
}
#compwarcard{
  right: 40px;
  background-size: cover;
  background-size: 93%;
  background-position: center;
  background-repeat: no-repeat;
}
#playerwarzone{
  position: relative;
  clear: both;
}
#playertiecard1{
  left:200px;
}
#playertiecard2{
  left:160px;
}
#playertiecard3{
  left:120px;
}
#playerwarcard{
  left:80px;
  background-size: cover;
  background-size: 93%;
  background-position: center;
  background-re
}
#playercardup {
  clear: both;
  border-color: red;
  margin-left: 280px;
  background-size: cover;
  background-size: 93%;
  background-position: center;
  background-repeat: no-repeat;
}
#playercarddown {
  border-color: blue;
  margin: -40px 0 0 400px;
  background: url('images/cards/back.png') no-repeat center;
  background-size: cover;
}
#playerwarzone,
#compwarzone{
  display: none;
}
